/* Theme */

main {
	background: #FFEB3B;
	background: #ffc000;
	color: #1E1E1E;
	color: #202b15;
}

.icons-social a {
	color: #1E1E1E;
	color: #202b15;
}

.icons-social a svg path{
	fill: #1E1E1E;
	fill: #202b15;
}
